* {
    padding: 0;
    margin: 0;
    /* height: 5870px; */
    box-sizing: border-box;   
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1450px;
    margin: 0 auto;
    padding: 20px;
    padding-left: 100px;
}
header{
    padding: 20px 0;
}
navbar{
    display: flex;
    justify-content: space-between;
}
.navbar__link{
    display: flex;
    gap: 40px;
}
.circles{
    position: absolute;
}
.inner{
    display: flex;
    justify-content: space-between;
}
.text{
    width: 445px;
    height: 338px;
   
    padding-top: 110px;
}
.vh{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0em;
    padding-bottom: 20px;

}
.textpar{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #7D7987;
    
    padding-bottom: 50px;


}
.consult{
    width: 200px;
    height: 60PX;
    background-color: #458FF6;
    border-radius: 55px;
   cursor: pointer;
    outline: none;
    border: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 18px;
    border: 1px solid  transparent;
    transition: all 0.2s;
}

.consult:hover{
    background-color: white;
    border: 1px solid  #458FF6;
    color: #458FF6;
    transition: all 0.2s;
}